/* General CSS settings */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #000;
  padding-top: 50px;
}

h3 {
  color: #006D77;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 5px;
}

a {
  color: #E29578;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: #FFDDD2;
}

.main-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  row-gap: 20px;
}

.alert {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* ========= Header section ========= */
#movieapp-nav {
  margin-bottom: 0px;
}

#movieapp-nav > .container-fluid {
  padding: 0 30%;
  display: flex;
  justify-content: center;
}

.navbar-brand {
  font-weight: 700;
}

#hero-img {
  display: block;
  object-position: 0 35%;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.overlay-hero > h1, .overlay-hero > h2 {
  padding: 10px;
  margin: 0;
  z-index: 1;
  color: #EDF6F9;
  text-align: center;
}

.overlay-hero > h1 {
  font-size: 3.2em;
  font-weight: 600;
}

.overlay-hero > h2 {
  font-size: 2em;
  font-weight: 300;
}


/* ======= Header Overlay Effect ======= */
.image_wrapper {
  position: relative;
}

.overlay-hero {
  position: absolute;
  background: rgba(57, 57, 57, 0.5);

  /* center overlay text */
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}


/* ======= Users pages ======= */
.list-group {
  padding: 0;
  margin: auto;
}

.btn-group {
  display: block !important;
  margin-bottom: 10px;
}

.btn-user {
  margin-bottom: 10px;
}

/* Form pages */
.form-box {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 30px;
  padding-bottom: 70px;
}

.form-group {
  margin-bottom: 15px !important;
}

.form-control {
  width: 100% !important;
}


/* ======= Movies grid CSS ======= */

.movie-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ======= Movie single item CSS ======= */

.movie-grid li {
  padding: 10px 15px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 15px;
}

.movie-grid li:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.movie {
  width: 200px;
  display: flex;
  flex-flow: column wrap;
}

.movie-poster {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

.movie-info, .buttons {
  display: flex;
  flex-flow: row wrap;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
}

.movie-info {
  height: 85px;
}

.buttons {
  width: 100%;
  align-self: flex-end;
}

.movie-text {
  width: 65%;
  margin-top: 10px;
  text-align: left;
}

.movie-title {
  font-size: 1em;
  color: #003049;
  margin-bottom: 0;
}

.movie-year {
  font-size: 0.8em;
  color: #8d99ae;
}

.country {
  width: 25%;
  height: 2.5em;
}

.movie-btn {
  width: 45%;
}

#empty-user-movies {
  text-align: center;
  font-size: 1.1em;
  margin: 0 0 20px;

}

/* ======= Tooltip CSS ======= */
.mov-tooltip {
  position: relative;
  display: inline-block;
}

.mov-tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 140px;
  bottom: 100%;
  left: 50%;
  border-radius: 6px;
  background-color: #00000080;
  color: #fff;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: -70px;
}

.mov-tooltip:hover .tooltip-text {
  visibility: visible;
}


/* ======= Ribbon CSS ======= */

.ribbon-wrapper {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 15px;
  overflow: hidden;
  position: absolute;
}

.ribbon {
  font: bold 14px sans-serif;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 5px 0;
  top: 13px;
  right: -4px;
  width: 100px;
  background-color: #B90E0A;
  color: #fff;
}


/* 404 Template CSS */
.overlay-400 {
  background: url(../images/400.svg) no-repeat center center;
}

.overlay-404 {
  background: url(../images/404.svg) no-repeat center center;
}

.overlay-error {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 2;
}

.overlay-error:after, .overlay-error:before {
  content: "";
  background: #ffffff;
  height: 100%;
  top: 0;
  position: absolute;
  height: 100%;
  z-index: 10;
  width: 20px;
}

.overlay-error:before {
  left: 0;
}

.overlay-error:after {
  right: 0;
}

#video {
  position: relative;
  height: 500px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #video {
    height: 400px;
  }

  #users {
    width: 90%;
  }

  .overlay-hero > h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 480px) {
  #video {
    height: 200px;
  }
}

